/*=====================================
=            Basic styling            =
=====================================*/
* {
   box-sizing: border-box;
}

html, body {
   width: 100%;
   height: 100%;
   margin: 0.5;
}

body {
   font-family: 'Open Sans', sans-serif;
}

/*=====  End of Basic styling  ======*/


/*======================================
=            Header styling            =
======================================*/

header {
   width: 100vw;
   height: 100vh;
   background-color: #3b3a36;
   color: #e9ece5;
   text-transform: uppercase;
   letter-spacing: 0.1em;
   position: relative;
}

header span {
   font-size: 3.6em;
   font-weight: 300;
   display: block;
}

header em {
   font-weight: 900;
}

.headerText {
   padding: 1em;
}

canvas {
   display: none;
}

.circleDown {
   display: none;
}


/*=====  End of Header styling  ======*/


/*===============================
=            Modules            =
===============================*/

.centerVH {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
       -ms-flex-direction: column;
           flex-direction: column;
}

/*=====  End of Modules  ======*/


/*=====================================
=            Media queries            =
=====================================*/

@media only screen and (min-width: 512px) {
   .headerText {
      text-align: center;
   }

   header span {
      font-size: 4em;
   }
}

@media only screen and (min-width: 800px) {
   canvas {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 1;
   }
}

@media only screen and (min-width: 930px) {
   header span {
      font-size: 4.4em;
   }

   .circleDown {
      display: inline-block;
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      font-size: 3em;
      font-weight: 300;
      cursor: pointer;
      transition: all 0.8s cubic-bezier(0.97,-0.43, 0, 1.94);
   }

   .circleDown:hover {
      color: #c0dfd9;
      bottom:3%;
   }

}

/*=====  End of Media queries  ======*/
